[Unit]
Description=Ngrok
After=network.service

[Service]
type=simple
User=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/ngrok start --all --config="/home/pi/schlachthof-wolken-ngrok/ngrok-config.yml"
Restart=on-failure

[Install]
WantedBy=multi-user.target
