body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  transition: all 0.1s ease;
  touch-action: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
div {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  z-index: 999999;
}
span {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: 999999;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
}
